<!DOCTYPE html>
<html>
  <head>
    <title>About Me</title>
  </head>
  <body>
    <h1 style="font-weight: bold;">About Me</h1>
    <p>This my friend who own a hotel business.</p>
  </body>
</html>
<a href="/">Back to Home</a>
</div>
</div>
<div class="row">
  <div class="image-box">
    <img src="images\b437a389-ff16-41bc-961a-5c6cbaae59a7_2308220320AM.jpg" alt="Image 4">
    <p>.</p>
    <div style="display: flex; justify-content: flex-start; align-items: center;">
      <nav style="margin-right: 90rem; margin-left: 1;">
        <ul> <!-- move the links to the left side -->
          <li><a href="/Aboutme">About Me</a></li>
          <li><a href="/Workexperience">Work Experience</a></li>
          <li><a href="/Interests">Interests</a></li>
          <li><a href="/Education">Education</a></li>
          <li><a href="/Contactme">Contact me</a></li>
        </ul>
      </nav>
      <div class="content">
        <section id="about-me"></section>
        <section id="work-experience"></section>
        <section id="interests"></section>
        <section id="education"></section>
        <section id="contact me"></section>
      </div>
    </div>