<!DOCTYPE html>
<html>
  <head>
    <title>Education</title>
  </head>
  <body>
    <h1 style="font-weight: bold;">Education</h1>
    <p>I am good at math.</p>
  </body>
</html>
<a href="/">Back to Home</a>
<div style="display: flex; justify-content: flex-start; align-items: center;">
  <nav style="margin-right: 90rem; margin-left: 1;">
    <ul> <!-- move the links to the left side -->
      <li><a href="/Aboutme">About Me</a></li>
      <li><a href="/Workexperience">Work Experience</a></li>
      <li><a href="/Interests">Interests</a></li>
      <li><a href="/Education">Education</a></li>
      <li><a href="/Contactme">Contact me</a></li>
    </ul>
  </nav>
  <div class="content">
    <section id="about-me"></section>
    <section id="work-experience"></section>
    <section id="interests"></section>
    <section id="education"></section>
    <section id="contact me"></section>
  </div>
</div>